<!DOCTYPE html>
<html>
  <head>
    <title>Klausur</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="ui menu">
   <a class="item">Home</a>
  </nav>
  <main class="ui page grid">
    <div class="row">
      <div class="column">
        <%= yield %>
      </div>
    </div>
  </main>
  </body>
</html>
